src/dunnagan/bob/xmodel/net/message/messages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Jeff Ortel (Stonewall Networks, Inc.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:complexType name="Request">
    <xs:attribute name="id" use="required">
      <xs:annotation>
        <xs:documentation>The id of the request which will be matched by a response with the same id.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Response">
    <xs:attribute name="id" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>The id of the request to which this response coincides.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="error">
      <xs:annotation>
        <xs:documentation>The error generated by the request.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="success"/>
          <xs:enumeration value="failure"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:any namespace="##any">
        <xs:annotation>
          <xs:documentation>One of the elements returned by the query. The remote:id attribute holds the remote id of the element.</xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElementRequest">
    <xs:annotation>
      <xs:documentation>Request specifying one or more server ids.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Request">
        <xs:sequence>
          <xs:element name="id" type="xs:string" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The server id of the element for which updates are requested.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QueryRequest">
    <xs:annotation>
      <xs:documentation>Query.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Request">
        <xs:sequence>
          <xs:element name="query" type="xs:string">
            <xs:annotation>
              <xs:documentation>An XPath expression returning a node-set.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QueryResponse">
    <xs:annotation>
      <xs:documentation>Query response containing the result.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Response">
        <xs:choice>
          <xs:element name="string" type="xs:string">
            <xs:annotation>
              <xs:documentation>The string query result.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="number" type="xs:double">
            <xs:annotation>
              <xs:documentation>The numeric query result.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="boolean" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>The boolean query result.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nodes">
            <xs:annotation>
              <xs:documentation>The node-set query result.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="error" type="xs:string">
            <xs:annotation>
              <xs:documentation>The query exception.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateRequest">
    <xs:annotation>
      <xs:documentation>Request for updates to the elements specified by server id.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ElementRequest"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Insert">
    <xs:annotation>
      <xs:documentation>Asynchronous insert message for element with associated server id.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id">
        <xs:annotation>
          <xs:documentation>The remote id of the parent element where the insert operation occured.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="index" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The insertion index.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result" type="Result">
        <xs:annotation>
          <xs:documentation>The result of the update.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Update">
    <xs:annotation>
      <xs:documentation>Asynchronous update message for element with associated server id.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="result" type="Result">
        <xs:annotation>
          <xs:documentation>The result of the update.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Delete">
    <xs:annotation>
      <xs:documentation>Asynchronous delete message for element with associated server id.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="id">
        <xs:annotation>
          <xs:documentation>The remote id of the element to be deleted.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelRequest">
    <xs:annotation>
      <xs:documentation>Request to cancel updates for elements specified by server id.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ElementRequest"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SyncRequest">
    <xs:annotation>
      <xs:documentation>A request to query the content of a reference by its remote id.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string"/>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="SyncResponse">
    <xs:annotation>
      <xs:documentation>Query response containing the result.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Response">
        <xs:choice>
          <xs:element name="string" type="xs:string">
            <xs:annotation>
              <xs:documentation>The string query result.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="number" type="xs:double">
            <xs:annotation>
              <xs:documentation>The numeric query result.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="boolean" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>The boolean query result.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nodes">
            <xs:annotation>
              <xs:documentation>The node-set query result.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:any minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="error" type="xs:string">
            <xs:annotation>
              <xs:documentation>The query exception.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:choice>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DirtyRequest">
    <xs:annotation>
      <xs:documentation>Request to mark remote external references dirty.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ElementRequest"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ContextChange">
    <xs:annotation>
      <xs:documentation>Asynchronous message instructing the client to clear its root reference cache.</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="Reset">
    <xs:annotation>
      <xs:documentation>Asynchronous message telling the client to shutdown its connection gracefully.</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType name="ResultTypeRequest">
    <xs:annotation>
      <xs:documentation>A request to get the result type of the specified query.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Request">
        <xs:sequence>
          <xs:element name="query" type="xs:string">
            <xs:annotation>
              <xs:documentation>The XPath query.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResultTypeResponse">
    <xs:annotation>
      <xs:documentation>Response to a result type request.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Response">
        <xs:sequence>
          <xs:element name="type" type="xs:string">
            <xs:annotation>
              <xs:documentation>The string value of the ResultType enumeration.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
